body {
    background-color: aliceblue;
}
header {
    color: red;
    font-size: large;
    text-align: center;
}
h2 {
    color: darkblue;
}
h3 {
    color: darkorchid;
}
ol li{ 
    color: blue;
}
#codigoHTML {
    font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
}